/* src/styles/tailwind.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';




:root {
  font-family: Poppins, sans-serif;
  line-height: 1.5;
  width:100%;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


p{
  font-weight: thin;
  font-size: 1rem;
}

/* Button.css */
.disabled-button {
  opacity: 0.5;
  cursor: not-allowed;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@keyframes fall-right {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(100%) rotate(30deg);
    opacity: 0;
  }
}

@keyframes fall-left {
  0% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%) rotate(-30deg);
    opacity: 0;
  }
}

@keyframes enter-right {
  0% {
    transform: translateX(100%) rotate(30deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

@keyframes enter-left {
  0% {
    transform: translateX(-100%) rotate(-30deg);
    opacity: 0;
  }
  100% {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

.animate-fall-right {
  animation: fall-right 0.5s forwards;
}

.animate-fall-left {
  animation: fall-left 0.5s forwards;
}

.animate-enter-right {
  animation: enter-right 0.5s forwards;
}

.animate-enter-left {
  animation: enter-left 0.5s forwards;
}
